.controls {
	flex-direction: column;
	width: 400px;
}

input {
	width: 100%;
	box-sizing: border-box;
	display: flex;
}

.buttons {
	display: flex;
	gap: 10px;
}

.buttons button {
	display: flex;
	flex: 1;
}
