.modal {
	z-index: 100000;
	overflow: auto;
	position: fixed;
	inset: 0;
	transform: translateY(-100%);
	background-color: white;
	align-items: center;
	opacity: 0;
	transition: opacity var(--modal-animation-duration) ease,
		transform var(--modal-animation-duration) ease;
}

.header {
	padding-left: var(--space-2);
	padding-right: var(--space-2);
}

.content {
	padding: var(--space-2);
}

.modal .content,
.modal .header {
	background-color: var(--background-color);
	max-width: 800px;
	width: 100%;
}

.plain {
}

.link {
	color: var(--brand-color);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.modal-visible {
	transform: translateY(0);
	opacity: 1;
}

.header {
	top: 0;
	z-index: 1;
	position: sticky;
	padding-top: var(--space-2);
	transition: transform 500ms ease;
}

.header-hidden {
	transform: translateY(-110%);
}

.search-input {
	position: absolute;
	inset: 0;

	padding: var(--space-3);
	padding-left: var(--space-14);
	background-color: transparent;
	border: 1px solid black;
	border-radius: var(--space-9);
	background-color: var(--input-bg);
}

@keyframes color {
	to {
		color: rgb(163, 163, 163);
	}
}

.logo {
	position: absolute;
	left: var(--space-5);

	/* vertical centering */
	top: 50%;
	transform: translateY(-50%);

	/* click through */
	pointer-events: none;
}

.search-input-wrap {
	height: var(--space-14);
}

.error-container {
	border: var(--space-1) dashed red;
	margin-top: var(--space-4);
	margin-bottom: var(--space-4);
	padding: var(--space-3);
}

.error-title {
	font-size: var(--space-4);
	padding: 0;
	margin: 0;
}

.error-message {
	color: red;
	padding: 0;
	margin: 0;
	padding: var(--space-4);
}

.retry-button {
	align-self: flex-start;
}

.close-button {
	border: none;
	flex-direction: row;
	align-self: flex-end;
	margin: var(--space-1);
	margin-right: var(--space-3);
	justify-content: center;
	align-items: center;
	font-size: var(--space-4);
	background-color: transparent;
}

.close-button:hover {
	color: var(--brand-color);
}

.cross {
	transform: scale(1);
}

.hit {
	padding: var(--space-3);
	transition: opacity 200ms ease;
}

.highlight {
	display: block;
	padding: var(--space-3);
	line-height: var(--space-7);
}

.highlight em {
	display: inline;
	padding-left: var(--space-1);
	padding-right: var(--space-1);
	margin: 0;
	color: white;
	background-color: var(--brand-color);
}

.hit-title {
	margin: 0;
	border-left: 2px solid var(--brand-color);
	/* background-color: antiquewhite; */
	height: var(--space-11);
	justify-content: center;
	padding: var(--space-3);
}

.hit-url {
	margin-left: var(--space-3);
}

.hit-title-link {
}

.group {
	margin-top: var(--space-6);
}

.group-title {
	margin: 0;
	margin-left: var(--space-3);
	margin-bottom: var(--space-6);
	border-bottom-style: solid;
	border-width: 0px 0px 0.0625rem;
	border-image: linear-gradient(90deg, rgb(89, 89, 89), transparent) 1 / 1 / 0
		stretch;
}

.back-link,
.single-group-link {
	flex-direction: row;
	text-decoration: none;
	padding-right: var(--space-4);
	margin-top: var(--space-4);
	margin-bottom: var(--space-6);
	border-bottom: 2px solid var(--brand-color);

	color: var(--brand-color);
	height: var(--space-10);

	margin-left: var(--space-3);

	align-self: flex-start;
	align-items: center;
	justify-content: center;
}

.link-text {
	/* background-color: wheat; */
}

.single-group-link {
	padding-left: var(--space-1-5);
}

.back-link {
	padding-right: var(--space-1-5);
}

[data-kb-current].back-link,
[data-kb-current].single-group-link {
	border: none;
}

.footer {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: var(--space-3);
}

.all-results-shown {
	opacity: 0.6;
	color: var(--brand-color);
}

.load-more-button {
	background-color: transparent;
	padding: var(--space-3);
	border: none;
	color: var(--brand-color);
	font-size: var(--space-4);
	margin-top: var(--space-3);
	margin-bottom: var(--space-3);
	justify-content: flex-start;
	align-items: center;
}

.hover-bg {
	transition: background-color 400ms ease;
}

.hover-bg:hover:not([disabled]) {
	background-color: var(--hover-bg-color);
}

.load-more-button:disabled {
	opacity: 0.3;
}

.footer-spinner {
	height: var(--space-14);
	width: var(--space-14);
	align-self: center;
}

[data-kb-current] {
	outline: 5px dashed rgba(56, 175, 255, 0.2);
	background-color: rgba(195, 231, 255, 0.2);
}

.spinner {
	position: absolute;
	display: flex;
	height: 100%;
	aspect-ratio: 1 / 1;
	right: 0;
	pointer-events: none;

	opacity: 0;
	transition: opacity 0.2s ease;
}

.spinner:after {
	content: " ";
	display: flex;
	flex: 1;
	box-sizing: border-box;
	margin: 15px;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.1) transparent rgb(0, 0, 0, 0.1) transparent;
	border-radius: 50%;
	animation: findkit-spinner-rotate 0.5s linear infinite;
	animation-play-state: paused;
}

.spinning {
	transition-delay: 1s;
	opacity: 1;
}

.spinning:after {
	animation-play-state: running;
}

@keyframes findkit-spinner-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
