.modal {
	z-index: 100000;
	position: fixed;
	overflow: auto;
	inset: var(--space-5);
	padding: var(--space-5);
	transform: translateY(-100%);
	opacity: 0;
	transition: opacity var(--modal-animation-duration) ease,
		transform var(--modal-animation-duration) ease;
}

.modal-visible {
	transform: translateY(0);
	opacity: 1;
}

.header {
	/* height: var(--space-16); */
}

.search-input {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	padding: var(--space-3);
	padding-left: var(--space-14);
	background-color: transparent;
	border: 1px solid black;
	border-radius: var(--space-9);
	background-color: var(--input-bg);
}

.logo {
	position: absolute;
	left: var(--space-5);

	/* vertical centering */
	top: 50%;
	transform: translateY(-50%);

	/* click through */
	pointer-events: none;
}

.search-input-wrap {
	height: var(--space-14);
}

.close-button {
	border: none;
	flex-direction: row;
	align-self: flex-end;
	margin-right: var(--space-3);
	justify-content: center;
	align-items: center;
	font-size: var(--space-5);
	background-color: transparent;
}

.cross {
	transform: scale(1.2);
}

.hit {
}

.group-title {
}

.more-link {
}

.back-link {
}

.load-more-button {
}

.loading {
}
