.modal {
	z-index: 100000;
	overflow: auto;
	position: fixed;
	inset: 0;
	transform: translateY(-100%);
	background-color: white;
	align-items: center;
	opacity: 0;
	transition: opacity var(--modal-animation-duration) ease,
		transform var(--modal-animation-duration) ease;
}

.header,
.content {
	max-width: 800px;
	width: 100%;
	flex: 1;
}

.modal-visible {
	transform: translateY(0);
	opacity: 1;
}

.header {
	top: 0;
	z-index: 1;
	position: sticky;
	background-color: white;
	transition: transform 500ms ease;
}

.header-hidden {
	transform: translateY(-110%);
}

.search-input {
	position: absolute;
	inset: 0;

	padding: var(--space-3);
	padding-left: var(--space-14);
	background-color: transparent;
	border: 1px solid black;
	border-radius: var(--space-9);
	background-color: var(--input-bg);
}

.logo {
	position: absolute;
	left: var(--space-5);

	/* vertical centering */
	top: 50%;
	transform: translateY(-50%);

	/* click through */
	pointer-events: none;
}

.search-input-wrap {
	height: var(--space-14);
}

.close-button {
	border: none;
	flex-direction: row;
	align-self: flex-end;
	margin-right: var(--space-3);
	justify-content: center;
	align-items: center;
	font-size: var(--space-5);
	background-color: transparent;
}

.cross {
	transform: scale(1.2);
}

.hit {
	padding: var(--space-3);
}

.group-title {
}

.more-link {
}

.back-link {
}

.load-more-button {
}

.loading {
}
